{% extends 'base.html.twig' %}
{% block iconedec %}
{% endblock %}
{% block header %}
<div class="container px-0">
<nav class="navbar navbar-light navbar-expand-xl py-3">
                    <a href="index.html" class="navbar-brand"><h1 class="text-primary display-6">Nourishia</h1><img src="{{ asset('img/logo.png')}}" alt="Logo" width="150" height="30"></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>

                            </div>
{% endblock %}
{% block title %}E-mail de Réinitialisation du Mot de Passe Envoyé{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre adresse e-mail existe, un e-mail vient de vous être envoyé avec un lien pour réinitialiser votre mot de passe.  
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}

